
<!DOCTYPE html>
<html ng-app="app-links">
 <head> 
  <meta charset='UTF-8' />
  <title>Who is at Higher Risk</title>
  <script src='https://code.angularjs.org/1.5.9/angular.min.js'></script> 
 </head> 
<body ng-controller="links-controller">

	<h3>Who is at high risk</h3>
	
	<p>People who are at higher risk from severe illness</p>
	<p>Some people may be at higher risk of getting very sick from this illness. This includes:</p>

	<p>	- Older adults<br/>
		- People who have serious underlying medical conditions like: Heart disease, Diabetes, Lung disease. </p>
		
	<p>Important Resources:</p>
	<p> - <a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" target="_blank">World Health Organization</a> </p>
	<p> - <a href="https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html" target="_blank">Center for Disease Control and Prevention (CDC)</a></p>
	
	

</body>

</html>